name: UAT Pytest

on:
  pull_request:
    branches: "*"

env:
  AWS_REGION: "us-west-2"
  COMMIT_ID: "25ca698f878ee481a8a2ade0d54499992f339122" #TODO: replace to be ${{ github.event.pull_request.head.sha }}

jobs:
  uat-test:
    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '>=3.12'

      # Checkout the public testing repo
      - name: Checkout testing repository
        uses: actions/checkout@v4
        with:
          repository: aws-greengrass/aws-greengrass-testing
          ref: python_testing
          path: aws-greengrass-testing

      - name: Run UAT tests
        run: |
          cd aws-greengrass-testing
          echo "Environment Variables:"
          echo "COMMIT_ID: ${{ env.COMMIT_ID }}"

        # ./run-tests.sh \
        #   --aws-account= ${{ env.AWS_ACCOUNT }}\
        #   --s3-bucket=${{ env.S3_BUCKET}} \
        #   --commit-id=${{ env.COMMIT_ID }} \
        #   --aws-region=${{ env.AWS_REGION }}
